@media (max-width: 500px) and (min-width: 300px) {
	.container {
		display: flex;
		flex-direction: column;
		height: 100%;
		width: 100%;
	}
	.card {
		grid-column: span 1;
		grid-row: span 1;
	}
	.show {
		display: none;
	}
	.hide {
		display: block;
	}
}
